<!DOCTYPE html>
<html lang="ru"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:mediumvioletred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color:mediumvioletred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="email">Введите электронную почту: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:mediumvioletred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Email error</div>
    <br/>
    <input type="submit" value="Сохранить">
</form>

<a href="users" class="btn">Назад</a>

</body>
</html>